html {
    line-height: 1.5;
    color: rgb(26, 32, 44);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    box-sizing: border-box;
}

body {background-color: #DCDCDC;}

div {
    display: block;
    unicode-bidi: isolate;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

img {
    height: auto;
    display: block;
    vertical-align: middle;
    border-style: solid;
    overflow-clip-margin: content-box;
    overflow: clip;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.form {
    display: flex;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    place-content: center;
}

*, ::before, ::after {
    border-width: 0px;
    border-style: solid;
    border-color: #E2E8F0;
}

.title {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-width: 0px;
    border-style: solid;
    border-color: #E2E8F0;
}

.text-title {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.5rem;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: inherit;
    margin: 0px;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.options {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.input {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    transition: all 0.2 ease 0s;
    outline: none;
    appearance: none;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: inherit;
    background-color: #ffffff;
}

.button {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.button-decide {
    border-radius: 0.25rem;
    font-weight: 600;
    width: 100%;
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 250ms ease 0s;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.2;
    outline: none;
    height: 3rem;
    min-width: 3rem;
    font-size: 1.125rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #b8680cf8;
    color: #ffffff;
    margin-top: 1em;
    margin-bottom: 1em;
}

.vs {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.45em;
}

.imagem-orango {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 0.5

}

.content {
    display: none;
    text-align: center;
}

#option-content {
   font-size: 2rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #ff0000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
